# See https://github.com/rustsec/rustsec/blob/main/cargo-audit/audit.toml.example
[advisories]
ignore = [
    "RUSTSEC-2023-0071", # https://github.com/RustCrypto/RSA/issues/19#issuecomment-1822995643
    "RUSTSEC-2024-0384", # instant unmaintained but no direct harm, resolved eventually by azure library updates to the new official SDK once SAS is supported.
    "RUSTSEC-2024-0436", # paste is unmaintained but has no direct harm. We already removed direct dependencies.
    "RUSTSEC-2026-0001", # Review once https://github.com/paupino/rust-decimal/issues/766 is merged
    "RUSTSEC-2025-0134", # https://github.com/nats-io/nats.rs/issues/1502, will be fixed in v0.47
]
