name: Security audit

permissions:
  contents: read # Needed to checkout code
  security-events: write # Needed for security reporting

concurrency:
  group: ${{ github.repository }}-${{ github.head_ref || github.sha }}-${{ github.workflow }}
  cancel-in-progress: true

on:
  push:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

  pull_request:
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"

jobs:
  security_audit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install cargo-audit
        run: cargo install cargo-audit --force
      - name: Run audit check
        run: cargo audit

  cargo-deny:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      - uses: EmbarkStudios/cargo-deny-action@3fd3802e88374d3fe9159b834c7714ec57d6c979
        with:
          command: check -s --hide-inclusion-graph
